@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

$text-color: #000;
$text-color-sale: #C1272D;

body {
    background: #ccc;
    color: $text-color;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;

    * {
        box-sizing: border-box;
    }

    a {
        color: $text-color !important;
        text-decoration: none !important;
    }
    
    input, textarea, button {
        border: none;
        font-family: inherit
    }

    button {cursor: pointer;}
}

h1 {
    font-size: 36px;
    font-weight: 800;
    text-transform: capitalize;
}

.button-white {
    padding: 10px 20px;
    border: none;
    background: #fff;
    color: $text-color;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.button-black {
    padding: 10px 20px;
    border: none;
    background: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.splide__arrow {
    width: 50px;
    height: 50px;
    background: transparent;
}

#container {
    max-width: 1440px;
    margin: 0 auto;
    background: transparent;

    header {
        padding: 0 23px 0 24px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 5;
        background: #fff;

        .left-nav {
            display: flex;
            flex-flow: row nowrap;

            li {
                padding: 9px 15px;

                a {
                    text-transform: uppercase;

                    &:hover {
                        font-weight: 600;
                    }
                }
            }
        }

        .right-nav {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            li {
                margin: 0 10px;

                &:last-child {
                    margin: 0 0 0 10px;
                }

                a {
                    display: inline-block;
                }

                &#cart-button {
                    position: relative;
                }

                #cart-modal {
                    width: auto;
                    padding: 20px;
                    display: none;
                    position: absolute;
                    top: 30px;
                    right: -10px;
                    z-index: 5;
                    background: #fff;
                    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.30);

                    &>h1 {
                        margin: 0 0 20px;
                        font-size: 18px;
                        font-weight: 600;
                        text-transform: uppercase;
                        text-align: center;
                    }

                    .cart-items {

                        figure {
                            padding-bottom: 20px;
                            margin-bottom: 20px;
                            border-bottom: 1px solid #ccc;
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: flex-start;

                            &:last-child {
                                margin-bottom: 0px;
                            }

                            img {
                                width: 75px;
                                height: 100px;
                                flex: 0 0 75px;
                                margin-right: 20px;
                                display: block;
                                object-fit: cover;
                            }

                            figcaption {
                                width: 150px;
                                flex: 0 0 auto;
                                text-transform: capitalize;

                                strong {
                                    padding: 10px 0 0;
                                    display: block;
                                    font-size: 12px;
                                    text-transform: uppercase;
                                }

                                em {
                                    padding: 10px 0 0;
                                    display: block;
                                    font-size: 14px;
                                    font-weight: 600;
                                    text-transform: capitalize; 
                                    
                                    .discounted-price {
                                        color: $text-color-sale;
                                    }
                                }

                                &>div {
                                    margin-top: 10px;
                                    text-align: right;

                                    .remove {
                                        background: transparent;
                                        color: $text-color-sale;
                                        text-transform: uppercase;
                                    }
                                }
                                
                            }

                            &.discounted {
                                em {

                                    .discounted-price {
                                        display: inline-block;
                                    }
                                    
                                    .normal-price {
                                        text-decoration: line-through;
                                    }
                                }
                            }
                        }

                        .no-item {
                            min-width: 250px;
                            text-align: center;
                        }
                    }

                    .cart-summary {
                        padding: 20px 0;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;

                        &>* {
                            font-weight: 600;
                        }
                    }

                    .open-checkout {
                        width: 100%;
                    }
                }

                .currency {
                    padding: 0px;
                    margin: 17px 0 16px;
                    border-radius: 35px;
                    border: 1px solid #F2F2F2;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    background: #fff;
                    cursor: pointer;

                    .flag {
                        margin: 5px 3px 5px 6px;
                    }

                    .currency-text {
                        margin-right: 10px;
                        text-transform: uppercase;
                    }

                    .arrow {
                        margin-right: 12px;
                    }
                }
            }
        }
    }

    #benefits {
        background: #F2F2F2;

        nav {
            padding: 10px 39px;

            ul {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                li {
                    a {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;

                        img {
                            margin-right: 15px;
                        }

                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    #hero {
        .slide {
            height: 650px;
            padding: 35px 80px 49px;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            position: relative;
            overflow: hidden;
            background: #EDE9DD;
                /*linear-gradient(270deg, rgba(237, 233, 221, 0.5) 0px, #EDE9DD 400px, #EDE9DD 500px, rgba(237, 233, 221, 0.0) 100%),
                url(../images/hero1-model.jfif) no-repeat -30px -123px / 916px 1221px,
                linear-gradient(90deg, #EDE9DD 50%, rgba(237, 233, 221, 0.75) 100%),
                #EDE9DD url(../images/new-in-bg.jfif) no-repeat 565px -1151px / 904px 2159px;
            background-blend-mode: normal, normal, overlay, normal;*/
            
            /*
            background:
                
                //linear-gradient(90deg, #EDE9DD 50%, rgba(237, 233, 221, 0.75) 100%),
                //#EDE9DD url(../images/new-in-bg.jfif) no-repeat 565px -1151px / 904px 2159px;
            // mask-image: linear-gradient(90deg, #000 46%, rgba(0, 0, 0, 0.00) 50%);
            mask-image: linear-gradient(black, transparent);*/
            color: #fff;

            #hero1-bg {
                width: 904px;
                height: 2159px;
                position: absolute;
                left: 565px;
                top: -1151px;
                mask-image: linear-gradient(270deg, #000 73.96%, rgba(0, 0, 0, 0.00) 100%);
                -webkit-mask-image: linear-gradient(270deg, #000 73.96%, rgba(0, 0, 0, 0.00) 100%);
                mix-blend-mode: overlay;
            }

            #hero1-model {
                width: 916px;
                height: 1221px;
                position: absolute;
                left: -30px;
                top: -123px;
                mask-image: linear-gradient(90deg, #EDE9DD 91.67%, rgba(237, 233, 221, 0.00) 100%);
                -webkit-mask-image: linear-gradient(90deg, #EDE9DD 91.67%, rgba(237, 233, 221, 0.00) 100%);
            }

            &>div {
                max-width: 50%;
                position: relative;
                z-index: 1;

                #hero1-text {
                    width: 644px;
                    height: 446px;
                }

                div {
                    margin-top: 22px;
                    text-align: center;

                    button {
                        font-size: 36px;
                        font-weight: 600;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);;
                    }
                }
            }
        }

    }

    #site-wide-deals {
        padding: 45px 69px;

        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            li {
                width: 160px;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;

                &:last-child {
                    width: auto;
                }

                h2 {
                    flex: 0 0 69px;
                    text-align: center;
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 40px;;
                }

                sub {
                    font-size: 18px;
                    font-weight: 800;
                    text-transform: uppercase;
                }

                small {
                    display: inline-block;
                    flex: 0 0 100%;;
                    text-align: center;
                    font-size: 10px;
                    line-height: 20px;
                    text-transform: uppercase;
                }

                button {
                    padding: 10px 20px;
                    border: none;
                    background: #000;
                    color: #fff;
                    white-space: nowrap;
                    font-size: 18px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }
    }

    #vip-exclusive {
        padding: 0 69px 0 118px;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        background:
            linear-gradient(90deg, rgba(0, 0, 0, 0.00) 13.54%,#000 40.10%, #000 100%),
            #000 url("../images/vip-exclusive-bg.jfif") no-repeat -244px 0;
        color: #fff;

        h1 {
            margin-right: 24px;
            flex: 1 0 auto;
            font-size: 32px;
            font-weight: 800;
            line-height: 75px;
            text-transform: uppercase;
        }

        h2 {
            flex: 1 0 354px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
        }

        &>div {
            flex: 0 0 363px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }
    }

    #trending {
        padding: 40px 190px 62px;
        background: #fff;
        text-align: center;

        h1 {
            padding: 10px 20px 20px;
            font-size: 36px;
            font-weight: 800;
            text-transform: capitalize;
        }

        p {
            padding: 10px 20px 20px;
            font-size: 14px;
            font-weight: 400;
        }

        ul.gallery {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

            li {
                padding: 20px;
                flex: 0 0 265px;

                figure {
                    width: 225px;

                    img {
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                    }

                    figcaption {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 50px;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
            }
        }

        #hashtags {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;

            button {
                padding: 10px 20px;
                border: 1px solid #000;
                border-radius: 50px;
                background: #fff;
                color: $text-color;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;

                &::before {
                    content: '#';
                }
            }
        }
    }

    #new-in {
        padding: 47px 148px 49px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        background:
            url(../images/new-in-model2.png) no-repeat 442px 0 / 377px 566px,
            url(../images/new-in-model1.png) no-repeat 101px 0 / 449px 674px,
            linear-gradient(90deg, rgba(255, 203, 124, 0.00) 0%, #FFCB7C 100%),
            #fff url(../images/new-in-bg.jfif) no-repeat 50% / cover;
        background-blend-mode: normal, normal, multiply, normal;
        color: #fff;

        &>div {
            max-width: 50%;
            padding-left: 79px;

            h1 {
                font-size: 86px;
                font-weight: 800;
                line-height: 86px;
                text-transform: uppercase;
            }

            h2 {
                margin-top: 21px;                
                font-size: 28px;
                font-weight: 600;
            }

            div {
                margin-top: 41px;
            }
        }
    }

    #recently-bought {
        padding: 40px 40px 51px;
        background: #fff;

        h1 {
            padding: 10px 20px 20px;
            font-size: 36px;
            font-weight: 800;
            text-align: center;
        }

        ul.gallery {
            display: flex;
            flex-flow: row wrap;

            li {
                padding: 20px;
                
                figure {
                    width: 225px;

                    img {
                        width: 100%;
                        height: 300px;
                        display: block;
                        object-fit: cover;
                    }

                    figcaption {
                        min-height: 50px;
                        max-width: 300px;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        font-weight: 400;
                        text-transform: capitalize;
                    }

                    em {
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: capitalize;

                        .discounted-price {
                            width: 58px;
                            display: none;
                            color: $text-color-sale;
                        }
                    }

                    &>div {
                        margin-top: 20px;
                        text-align: center;
                    }

                    &.discounted {
                        
                        em {

                            .discounted-price {
                                display: inline-block;
                            }
                            
                            .normal-price {
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
    }

    #insta {
        padding: 40px 60px 60px;
        background: #F2F2F2;
        text-align: center;

        h1 {
            padding: 10px 20px 20px;
            font-size: 36px;
            font-weight: 800;
            text-transform: capitalize;
        }

        p {
            padding: 10px 20px 20px;
            font-size: 14px;
            font-weight: 400;
        }

        &>ul {
            width: auto;
            margin-top: 31px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            
            li {
                max-width: 225px;
                height: 225px;
                flex: 0 0 auto;
                overflow: hidden;

                img {
                    max-width: 100%;
                }
            }
        }

        &>div {
            padding-top: 31px;
        }
    }

    #newsletter {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        background: #000;

        h1 {
            width: 826px;
            color: #fff;
            font-size: 32px;
            font-weight: 800;
            line-height: 75px;
            text-transform: uppercase;
        }

        form {
            padding: 20px 24px;
            align-self: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: stretch;

            input[type="text"] {
                width: 319px;
                padding: 9px 17px;
                background: #F2F2F2;
                border: none;
            }

            button {
                width: 35px;
                background: #fff;
                text-align: center;

                img {
                }
            }
        }
    }

    footer {
        padding: 60px 40px 70px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        background: #fff;

        h1 {
            padding: 10px;
            font-size: 12px;
            font-weight: 600;
            text-align: left;
            text-transform: uppercase;
        }

        #footer-links {
            display: flex;
            flex-flow: row nowrap;

            .footer-list {
                padding-right: 20px;

                ul {
                    li {
                        padding: 10px;
                        
                        a {
                            font-size: 12px;
                            font-weight: 400;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }

        #social-payment {
            margin-left: 110px;

            .social-payment-list {

                ul {
                    margin: 5px 0 10px;
                    padding-left: 5px;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    gap: 10px;
                }

                &#payment {

                    ul {
                        padding-left: 10px;

                        img {
                            display: inline-block;
                            max-height: 25px;
                        }
                    }
                }
            }

            
        }

        #rights {
            margin-top: 30px;
            flex: 0 0 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }

    #checkout-page {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        background: #0006;

        &.hide {
            display: none;
        }

        .checkout-modal {
            width: 100%;
            max-width: 1440px;
            padding: 40px;
            margin: 40px;
            display: flex;
            flex-flow: row wrap;
            position: relative;
            background: #fff;

            h1 {
                margin-bottom: 40px;
                flex: 0 0 100%;
                text-align: center;
            }

            .checkout-items {
                margin-top: 20px;
                flex: 1 1 auto;

                li {
                    figure {
                        padding: 20px 0;
                        border-bottom: 1px solid #ccc;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: flex-start;

                        img {
                            width: 150px;
                            height: 200px;
                            flex: 0 0 150px;
                            margin-right: 20px;
                            display: block;
                            object-fit: cover;
                        }

                        figcaption {
                            width: 150px;
                            flex: 1 0 auto;
                            text-transform: capitalize;
                        }

                        em {
                            font-weight: 600;
                        }
                        
                        .qty {
                            margin: 0 20px;
                            flex: 0 0 150px;
                        }
    
                        .price {
                            flex: 0 0 150px;
                            align-self: stretch;
                            display: inline-flex;
                            flex-flow: row wrap;
                            justify-content: flex-end;
                            text-align: right;

                            .discounted-price {
                                margin-left: 20px;
                                display: none;
                                color: $text-color-sale;
                            }

                            .remove {
                                flex: 1 0 100%;
                                align-self: self-end;
                                background: transparent;
                                color: $text-color-sale;
                                text-align: right;
                                text-transform: uppercase;
                            }
                            
                        }

                        &.discounted {

                            .discounted-price {
                                display: inline-block;
                            }
                            
                            .normal-price {
                                text-decoration: line-through;
                            }

                        }
                    }
                }
            }

            .checkout-summary {
                margin-left: 20px;
                flex: 0 0 400px;

                h2 {
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;
                    text-transform: uppercase;
                }

                .details {
                    padding: 20px;
                    margin: 20px 0;
                    border: 1px solid #000;

                    em {
                        margin-bottom: 10px;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &.total {
                            padding-top: 10px;
                            border-top: 1px solid #000;
                            font-weight: 600;
                        }
                        
                    }
                }

                .checkout-button {
                    width: 100%;
                }
            }

            #button-close-checkout {
                padding: 5px 10px;
                position: absolute;
                right: 20px;
                top: 50px;
                background: transparent;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
    }
}